$button_line_height: 1.1;
$button_font_size: 0.875em;
$button_font_size_medium: 1.125em;
$button_icon_size: $button_font_size * $button_line_height * 0.75;
$button_icon_size_medium: $button_font_size_medium * $button_line_height * 0.6;
$button_verical_padding: 0.5em;

.btn {
    @include clear-input();
    background-color: $color_light;
    border-radius: 1em * $button_line_height;
    color: $green;
    cursor: pointer;
    font-size: $button_font_size;

    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    line-height: $button_line_height;
    padding: $button_verical_padding $button_verical_padding * 3;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    transition: all 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.btn:hover {
    background-color: darken( $color_light, 5% );
    color: $green;
    text-decoration: none;
}

.btn:active,
a.btn:active {
	@include box-shadow-inner( 0.125em, 0.15em, 0.125em, rgba(0,0,0,.1) );
}
