
.icon {
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.icon--extra-small {
    font-size: 16px;
}

.icon--small {
    font-size: 25px;
}

.icon--medium {
    font-size: 50px;
}

.icon--large {
    font-size: 75px;
}

.icon--wide {
    width: 2em;
}

.icon--highlight {
    color: $green;
}

.icon--middle {
    vertical-align: middle;
    margin-top: -.25em;
}
