.logo {
    font-size: 16px;
    display: block;
    padding: 12px 14px;
    color: $color-header-content;
    overflow: hidden;
    text-decoration: none;

    &:hover {
        color: $color-header-content;
    }
}

.logo__text {
    display: inline-block;
    vertical-align: top;
    font-size: 1em;
    color: $color-header-content;
    text-transform: uppercase;
}

.logo__energia {
    display: inline-block;
    vertical-align: top;
    width: 2.5em;
    height: 1.5em;
    background-color: $green-l;
    background-repeat: no-repeat;
    mask-image: url("../img/logo-energia.svg");
    mask-repeat: no-repeat;
    background-size: 100% auto;
}
