.overview-intro {
  margin: 0 !important;

  > * {
    padding: 2rem;
  }

  p {
    font-size: 1.3em;
    line-height: 1.5;
    max-width: 48em;
  }
}
.overview-intro__jumbotron {
  color: #ffffff;
  background-color: #0fac5f;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;

  * + * {
    margin-top: 2rem;
  }

  h1 {
    color: #ffffff;
  }

  a.btn {
    font-size: 1.5em;
    background-color: white;
    color: #0fac5f;
  }
}

.overview-component {
  padding: 3rem;

  &:nth-child(odd) {
    background-color: whitesmoke;
  }

  + .overview-component {
    margin-top: 2rem;
  }
}
.overview-component__title a {
  color: inherit !important;
}
.overview-component__preview {
  max-width: 64em;
  margin: 0 -1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;

  ul {
    padding-left: 0;
  }
}
.overview-component__variant {
  padding: .5em 1em;
  min-height: 0 !important;
}
[class*="overview-component__variant--nav"],
[class*="overview-component__variant--header"],
[class*="overview-component__variant--grid"],
[class*="overview-component__variant--tabs"],
[class*="overview-component__variant--progress"],
[class*="overview-component__variant--tooltip"],
[class*="overview-component__variant--heading"],
[class*="overview-component__variant--separator"] {
  min-width: 100%;
  padding: 2em 1em;
}

.Document--overview {
  padding: 0;
}
.Document-header--overview {
  display: none;
}
.Prose--overview {
  max-width: none !important;
}
.Prose--overview .overview-component__preview li {
  list-style-type: none;
  margin-bottom: 0;
}